<!-- Assets -->
<!-- Use these as references but don't use this file on a page as it will load all of the extra javascript -->
<script src="{{ site.path.plugins | prepend: site.baseurl }}/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/page-scroller/jquery.ui.totop.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/mixitup/jquery.mixitup.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/mixitup/jquery.mixitup.init.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/waypoints/waypoints.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/milestone-counter/jquery.countTo.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/social-buttons/js/rrssb.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/nouislider/js/jquery.nouislider.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/owl-carousel/owl.carousel.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/bootstrap/js/tooltip.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/bootstrap/js/popover.js"></script>
