<!-- Assets -->
<!-- Use these as references but don't use this file on a page as it will load all of the extra javascript -->
<script src="{{ site.path.plugins  }}/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{ site.path.plugins  }}/page-scroller/jquery.ui.totop.min.js"></script>
<script src="{{ site.path.plugins  }}/mixitup/jquery.mixitup.js"></script>
<script src="{{ site.path.plugins  }}/mixitup/jquery.mixitup.init.js"></script>
<script src="{{ site.path.plugins  }}/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="{{ site.path.plugins  }}/waypoints/waypoints.min.js"></script>
<script src="{{ site.path.plugins  }}/milestone-counter/jquery.countTo.js"></script>
<script src="{{ site.path.plugins  }}/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="{{ site.path.plugins  }}/social-buttons/js/rrssb.min.js"></script>
<script src="{{ site.path.plugins  }}/nouislider/js/jquery.nouislider.min.js"></script>
<script src="{{ site.path.plugins  }}/owl-carousel/owl.carousel.js"></script>
<script src="{{ site.path.plugins  }}/bootstrap/js/tooltip.js"></script>
<script src="{{ site.path.plugins  }}/bootstrap/js/popover.js"></script>
