<!-- Essentials -->
<script src="/{{ site.path.js  }}/modernizr.custom.js"></script>
<script src="/{{ site.path.plugins  }}/bootstrap/js/bootstrap.min.js"></script>
<script src="/{{ site.path.js  }}/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/{{ site.path.js  }}/jquery.easing.js"></script>
<script src="/{{ site.path.js  }}/jquery.metadata.js"></script>
<script src="/{{ site.path.js  }}/jquery.hoverup.js"></script>
<script src="/{{ site.path.js  }}/jquery.hoverdir.js"></script>
<script src="/{{ site.path.js  }}/jquery.stellar.js"></script>


<!-- Boomerang App JS -->
<script src="/{{ site.path.js  }}/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="/{{ site.path.js  }}/html5shiv.js"></script>
    <script src="/{{ site.path.js  }}/respond.min.js"></script>
<![endif]-->
