<!-- Forms -->
<script src="{{ site.path.plugins }}/ui-kit/js/jquery.powerful-placeholder.min.js"></script>
<script src="{{ site.path.plugins }}/ui-kit/js/cusel.min.js"></script>
<script src="{{ site.path.plugins }}/sky-forms/js/jquery.form.min.js"></script>
<script src="{{ site.path.plugins }}/sky-forms/js/jquery.validate.min.js"></script>
<script src="{{ site.path.plugins }}/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="{{ site.path.plugins }}/sky-forms/js/jquery.modal.js"></script>
