<section class="slice white bb">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Our company</span></h3>
                    </div>
                    <p>
                      {{ site.about }}
                      <br>
                      {{ site.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
