<section class="slice bg-base">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4 class="c-white"><i class="fa fa-quote-left fa-3x"></i></h4>
                        <h2 class="c-white">What our clients say</h2>
                        <div class="testimonial-text c-white">
                          {{ page.review }}<br>
                          {{ page.reviewAuthor }}
                        </div>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
