<section class="slice white" style="text-align: center;">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="milestone-counter">
                        <div class="milestone-count c-gray" data-from="0" data-to="11100" data-speed="3000" data-refresh-interval="100"></div>
                        <h4 class="milestone-info c-gray">Customers</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="milestone-counter">
                        <div class="milestone-count c-gray" data-from="0" data-to="154" data-speed="5000" data-refresh-interval="50"></div>
                        <h4 class="milestone-info c-gray">Finalized projects</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
