<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col">
                  <div itemscope itemtype="http://schema.org/LocalBusiness">
                   <h4><u>Contact us</u></h4>
                   <ul>
                        <li><span itemprop="name">Sterling Electrical Contractors</span></li>
                        <li>
                          <span itemprop="streetAddress">{{ site.address }}, {{ site.address2 }},</span>
                          <span itemprop="addressLocality">{{ site.city }}</span>,
                          <span itemprop="addressRegion">{{ site.state }}</span>
                          <span itemprop="postalCode">{{ site.zip }}</span>
                        </li>
                        <li>Phone: <span itemprop="telephone"><a href="tel:+{{ site.phone_inter }}">{{ site.phone_number }}</a></span></li>
                        <li>Email: <span itemprop="email"><a href="mailto:{{ site.email }}" title="Email Us">{{ site.email }}</a></span></li>
                    </ul>
                  </div>
                 </div>
            </div>
            <div class="col-md-4">
               <div class="col">
                   <h4><u>About us</u></h4>
                   <p class="no-margin">
                     {{ site.description }}
                   </p>
               </div>
            </div>
            <div class="col-md-4">
                <div class="col col-social-icons">
                    <h4><u>Follow us</u></h4>
                    <a href="https://www.linkedin.com/company/{{ site.linked_in }}"><i class="fa fa-linkedin"></i></a>
                    <a href="http://www.yelp.com/biz/{{ site.yelp_username }}"><i class="fa fa-yelp"></i></a>
                    <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-9 copyright">
                2016 © {{ site.title }}. All rights reserved.
                <a href="/terms">Terms and conditions</a>
            </div>
            <div class="col-lg-3">
                <!-- <a href="{{ site.baseurl }}" title="{{ site.title }}" class="navbar-brand">
                    Home
                </a> -->
                <!--Proview Badge Code Start -->
                <a href="http://www.thebluebook.com/iProView/806832" style="text-decoration:none; color:inherit;position:absolute;right: 25px;" target="_blank">
                    <img src="http://www.thebluebook.com/assets/img/badges/proview-badge-lg.png?qp=806832" border="0" title="Qualify Us Now! ProView" alt="Qualify Us Now! ProView" height="32" width="101" hspace="0" vspace="0" />
                </a>
                <!--Proview Badge Code END -->
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
{% include js.html %}
