<!-- MAIN WRAPPER -->
<div class="body-wrap">
  <!-- HEADER -->
  <div id="divHeaderWrapper">
    <header class="header-standard-2">
      <div class="top-header top-header-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="aux-text ">
                        {{ site.company }} - {{ site.email }} - {{ site.phone_number }}
                    </span>
                    <nav class="top-header-menu ">
                        <ul class="top-menu">
                            <li>
                              License: {{ site.license }}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
      <!-- MAIN NAV -->
      <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <i class="fa fa-bars icon-custom"></i>
                  </button>
                  <a class="navbar-brand" href="{{ site.baseurl }}" title="{{ site.title }}">
                      <img src="{{ site.path.images | prepend: site.baseurl }}/sec-logo-white.png" alt="{{ site.title }}">
                  </a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="{{ site.baseurl }}">Home</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}about">About</a>
                      </li>
                      <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <div class="container-fluid">
                                <div class="row">
                                  <div class="col-md-3 mega-nav-section-wr">
                                      <div class="mega-nav-section">
                                        <a href="{{ site.baseurl }}services">
                                          <div class="container" style="height: 100%; width: 100%;">
                                            <i class="fa fa-cogs fa-5x hidden-xs" style="font-size: 210px;"></i>
                                          </div>
                                          <h3 class="mega-nav-section-title">Services Overview</h3>
                                        </a>
                                      </div>
                                  </div>
                                  {% for service in site.services %}
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                          <a href="{{ site.baseurl }}{{ service.url | remove_first: '/' }}">
                                            <img src="{{ site.path.images | prepend: site.baseurl }}/resized/{{ service.image }}" class="img-responsive img-thumbnail hidden-xs hidden-sm" alt="">
                                            <h3 class="mega-nav-section-title">{{ service.title }}</h3>
                                          </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </ul>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}projects">Projects</a>
                      </li>
                      <li>
                        <a href="{{ site.baseurl }}careers">Careers</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}FAQ">FAQ</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}contact">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </header>
  </div>
