<!-- MAIN WRAPPER -->
<div class="body-wrap">
  <!-- HEADER -->
  <div id="divHeaderWrapper">
    <header class="header-standard-2">
      <div class="top-header top-header-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="aux-text ">
                        {{ site.company }} - {{ site.email }} - {{ site.phone_number }}
                    </span>
                    <nav class="top-header-menu ">
                        <ul class="top-menu">



                            <li>
                              License: {{ site.license }}
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
      <!-- MAIN NAV -->
      <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <i class="fa fa-bars icon-custom"></i>
                  </button>




                  <a class="navbar-brand" href="{{ site.baseurl }}" title="{{ site.title }}">
                      <img src="{{ site.path.images | prepend: site.baseurl }}/sec-logo-white.png" alt="{{ site.title }}">
                  </a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">

                      <li>
                          <a href="{{ site.baseurl }}">Home</a>
                      </li>
                      <li>
                          <a href="/about">About</a>
                      </li>
                      <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="{{ site.path.services.root | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <div class="container-fluid">
                                <div class="row">
                                  {% for service in site.services %}
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                          <a href="{{ site.baseurl }}{{ service.url | remove_first: '/' }}">
                                            <img src="{{ site.path.images | prepend: site.baseurl }}/resized/{{ service.image }}" class="img-responsive img-thumbnail hidden-xs hidden-sm" alt="">
                                            <h3 class="mega-nav-section-title">{{ service.title }}</h3>
                                          </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </ul>
                      </li>
                      <li>
                          <a href="/projects">Projects</a>
                      </li>
                      <li>
                        <a href="/careers">Careers</a>
                      </li>
                      <li>
                          <a href="/FAQ">FAQ</a>
                      </li>
                      <li>
                          <a href="/contact">Contact</a>
                      </li>
                      <!-- <li class="dropdown dropdown-aux animate-click" data-animate-in="animated bounceInUp" data-animate-out="animated fadeOutDown" style="z-index:500;">
                          <a href="#" class="dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                          <ul class="dropdown-menu dropdown-menu-user animate-wr">
                              <li id="dropdownForm">
                                  <div class="dropdown-form">
                                      <form class="form-horizontal form-light p-15" role="form">
                                          <div class="input-group">
                                              <input type="text" class="form-control" placeholder="I want to find ...">
                                              <span class="input-group-btn">
                                                  <button class="btn btn-base" type="button">Go</button>
                                              </span>
                                          </div>
                                      </form>
                                  </div>
                              </li>
                          </ul>
                      </li> -->
                  </ul>
              </div>
          </div>
      </div>
    </header>
  </div>
