<!-- <head>
  <meta charset="utf-8">





  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head> -->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!-- Essential styles -->
    <link rel="stylesheet" href="{{ site.path.plugins }}/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.path.plugins }}/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.path.plugins }}/fancybox/jquery.fancybox.css?v=2.1.5" media="screen">

    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="{{ site.path.css }}/global-style.css" rel="stylesheet" media="screen">


    <!-- Favicon -->
    <link href="images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="{{ site.path.plugins }}/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ site.path.plugins }}/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{ site.path.plugins }}/sky-forms/css/sky-forms.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Required JS -->
    <script src="{{ site.path.js }}/jquery.js"></script>
    <script src="{{ site.path.js }}/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    <link rel="stylesheet" href="{{ site.path.plugins }}/layerslider/css/layerslider.css" type="text/css">

</head>
