<!-- Essentials -->
<script src="{{ site.path.js | prepend: site.baseurl }}/modernizr.custom.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl | prepend: site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.easing.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.metadata.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.hoverup.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.hoverdir.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="{{ site.path.plugins | prepend: site.baseurl }}/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="{{ site.path.plugins | prepend: site.baseurl }}/ui-kit/js/jquery.powerful-placeholder.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/ui-kit/js/cusel.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/sky-forms/js/jquery.form.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/sky-forms/js/jquery.validate.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="{{ site.path.plugins  | prepend: site.baseurl}}/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="{{ site.path.plugins | prepend: site.baseurl }}/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/page-scroller/jquery.ui.totop.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/mixitup/jquery.mixitup.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/mixitup/jquery.mixitup.init.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/waypoints/waypoints.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/milestone-counter/jquery.countTo.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/social-buttons/js/rrssb.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/nouislider/js/jquery.nouislider.min.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/owl-carousel/owl.carousel.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/bootstrap/js/tooltip.js"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->
<script src="{{ site.path.plugins | prepend: site.baseurl }}/layerslider/js/greensock.js" type="text/javascript"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="{{ site.path.plugins | prepend: site.baseurl }}/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<!-- Initializing the slider -->
<script>
    jQuery("#layerslider").layerSlider({
        pauseOnHover: true,
        autoPlayVideos: false,
        skinsPath: '{{ site.path.plugins | prepend: site.baseurl }}/layerslider/skins/',
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'borderlessdark3d',
        hoverPrevNext: true,
    });
</script>

<!-- Boomerang App JS -->
<script src="{{ site.path.js | prepend: site.baseurl }}/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp -- You can remove this once you started to work on your project -->
<script src="{{ site.path.js | prepend: site.baseurl }}/jquery.cookie.js"></script>
<script src="{{ site.path.js | prepend: site.baseurl }}/wp.switcher.js"></script>
<script type="text/javascript" src="{{ site.path.js | prepend: site.baseurl }}/wp.ga.js"></script>
