<section class="slice base">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselTestimonial" class="carousel carousel-testimonials slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselTestimonial" data-slide-to="1" class=""></li>
                            <li data-target="#carouselTestimonial" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="text-center">
                                    <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                    <p class="testimonial-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt, Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                    </p>
                                    <p>
                                        John Doe – Company Inc
                                    </p>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-center">
                                    <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                    <p class="testimonial-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt, Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                    </p>
                                    <p>
                                        John Doe – Company Inc
                                    </p>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="text-center">
                                    <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                    <p class="testimonial-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt, Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                    Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                    </p>
                                    <p>
                                        John Doe – Company Inc
                                    </p>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
