<section class="slice animate-hover-slide bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left"><span>Latest news</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wp-block article grid">
                        <div class="article-image">
                            <img src="images/prv/magazine/magazine-small-1.jpg" alt="">
                            <h4 class="image-title base">Must read</h4>
                        </div>
                        <span class="article-category">Business news</span>
                        <h3 class="title">
                            <a href="">Fortitor Posuere &amp; Praesent Metus Ins</a>
                        </h3>
                        <p>
                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat aliquam erat are esrseiiqetuer.
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wp-block article list">
                                <div class="article-image">
                                    <img src="images/prv/magazine/magazine-small-2.jpg" alt="">
                                </div>
                                <div class="wp-block-body">
                                    <h3 class="title">
                                        <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                    </h3>
                                    <p>
                                    Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wp-block article list">
                                <div class="article-image">
                                    <img src="images/prv/magazine/magazine-small-3.jpg" alt="">
                                </div>
                                <div class="wp-block-body">
                                    <h3 class="title">
                                        <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                    </h3>
                                    <p>
                                    Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wp-block article list">
                                <div class="article-image">
                                    <img src="images/prv/magazine/magazine-small-4.jpg" alt="">
                                </div>
                                <div class="wp-block-body">
                                    <h3 class="title">
                                        <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                    </h3>
                                    <p>
                                    Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wp-block article list">
                                <div class="article-image">
                                    <img src="images/prv/magazine/magazine-small-5.jpg" alt="">
                                </div>
                                <div class="wp-block-body">
                                    <h3 class="title">
                                        <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                    </h3>
                                    <p>
                                    Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wp-block article list">
                                <div class="article-image">
                                    <img src="images/prv/magazine/magazine-small-6.jpg" alt="">
                                </div>
                                <div class="wp-block-body">
                                    <h3 class="title">
                                        <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                    </h3>
                                    <p>
                                    Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wp-block article list">
                                <div class="article-image">
                                    <img src="images/prv/magazine/magazine-small-7.jpg" alt="">
                                </div>
                                <div class="wp-block-body">
                                    <h3 class="title">
                                        <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                    </h3>
                                    <p>
                                    Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
