<section class="prlx-bg inset-shadow-1" data-stellar-ratio="2" style="min-height: 200px; padding: 50px 0; background-image: url({{ site.path.images | prepend: site.baseurl }}/skyline.jpg); background-size: 100% 100%;background-position: 0 -10%;">
    <div class="mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h4 class="c-white"><i class="fa fa-lightbulb-o fa-4x"></i></h4>
                        <h2 class="c-white">{{ page.quote }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
