<section class="slice light-gray bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left"><span>Our services</span></h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                  <a href="{{ site.baseurl }}services">
                    <div class="wp-block hero white no-margin">
                        <div class="thmb-img">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <h2>Sterling Commercial</h2>
                        <p class="text-center">{{ page.text.commercial }}</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6">
                  <a href="{{ site.baseurl }}services">
                    <div class="wp-block hero white no-margin">
                        <div class="thmb-img">
                            <i class="fa fa-home"></i>
                        </div>
                        <h2>Sterling Reisdential Homeowners</h2>
                        <p class="text-center">{{ page.text.residential }}</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6">
                  <a href="{{ site.baseurl }}services">
                    <div class="wp-block hero white no-margin">
                        <div class="thmb-img">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>

                        <h2>Sterling Excavation</h2>
                        <p class="text-center">{{ page.text.excavation }}</p>
                    </div>
                  </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                  <a href="{{ site.baseurl }}services">
                    <div class="wp-block hero white no-margin">
                        <div class="thmb-img">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <h2>Sterling Service and Maintenance</h2>
                        <p class="text-center">{{ page.text.service }}</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6">
                  <a href="{{ site.baseurl }}services">
                    <div class="wp-block hero white no-margin">
                        <div class="thmb-img">
                            <i class="fa fa-users"></i>
                        </div>
                        <h2>Sterling Residential Contractors</h2>
                        <p class="text-center">{{ page.text.rescontract }}</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6">
                  <a href="{{ site.baseurl }}services">
                    <div class="wp-block hero white no-margin">
                        <div class="thmb-img">
                            <i class="fa fa-comments-o"></i>
                        </div>

                        <h2>Sterling Design and Build</h2>
                        <p class="text-center">{{ page.text.design }}</p>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
