<section class="slice bg-white bb animate-hover-slide-3">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left"><span>Our team</span></h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="images/prv/team/team-corporate-5.jpg" class="img-responsive">
                            <div class="figcaption">
                                <ul class="social-icons text-right">
                                    <li class="text pull-left">More on:</li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h2>Meredith Grey<small>CEO</small></h2>
                        <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="images/prv/team/team-corporate-3.jpg" class="img-responsive">
                            <div class="figcaption">
                                <ul class="social-icons text-right">
                                    <li class="text pull-left">More on:</li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h2>John Doe<small>Product Manager</small></h2>
                        <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="images/prv/team/team-corporate-1.jpg" class="img-responsive">
                            <div class="figcaption">
                                <ul class="social-icons text-right">
                                    <li class="text pull-left">More on:</li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h2>Derek Shepard<small>Web Developer</small></h2>
                        <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="images/prv/team/team-corporate-2.jpg" class="img-responsive">
                            <div class="figcaption">
                                <ul class="social-icons text-right">
                                    <li class="text pull-left">More on:</li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h2>Mark Sloan<small>Team Builder</small></h2>
                        <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
