<section class="slice p-15 base">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-normal">
                        <strong>Boomerang 2.</strong> Well done is better than well said. Wanna know why?
                    </h1>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right">
                        <span>Try me now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
