<section class="slice base bb">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title center">
                    <span class="c-white">What do we offer</span>
                    <small class="c-white">Lorem ipsum dolor sit amet</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-list-alt"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Endless possibilities</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Over 60 page layouts</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-camera-retro"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Great design. Flexible code</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 ">
                    <div class="icon-block icon-block-1">
                        <div class="icon-block-item">
                            <i class="fa fa-coffee"></i>
                        </div>
                        <div class="icon-block-body">
                            <h4 class="">Super friendly customer support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
