<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Sterling Electrical Contractors of Seattle</title>

    <!-- Essential styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen">

    <!-- Boomerang styles -->
    <link id="wpStylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/global-style.css" rel="stylesheet" media="screen">

    <!-- Favicon -->
    <link href="{{ site.baseurl }}/images/favicon.png" rel="icon" type="image/png">

    <!-- Required JS -->
    <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery-ui.min.js"></script>
</head>

<body>

<!-- Here comes the page content -->

<div class="wrapper page-option-v1">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
</div><!--/wrapper-->

<!-- Essential JS -->
<script src="{{ site.baseurl }}/assets/js/modernizr.custom.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.easing.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.metadata.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.hoverup.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.hoverdir.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.stellar.js"></script>

<!-- Forms -->
<script src="{{ site.baseurl }}/assets/plugins/ui-kit/js/jquery.powerful-placeholder.min.js"></script>

<!-- Assets  -->
<script src="{{ site.baseurl }}/assets/plugins/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/page-scroller/jquery.ui.totop.min.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/mixitup/jquery.mixitup.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/mixitup/jquery.mixitup.init.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="{{ site.baseurl }}/assets/plugins/bootstrap/js/tooltip.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/bootstrap/js/popover.js"></script>

<!-- Boomerang App JS -->
<script src="{{ site.baseurl }}/assets/js/wp.app.js"></script>
<!--[if lt IE 9]>
<script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
<script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
<![endif]-->

</body>
</html>