---
layout: default
---

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->

<!-- Optional header components (ex: slider) -->
<!-- Importing slider content -->
<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
  <div id="layerslider" style="width:100%;height:520px;">
      <!-- Slide 1 -->
      <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
          <!-- slide background -->
          <img src="{{ site.path.images | prepend: site.baseurl}}/skyline.jpg" class="ls-bg" alt="Slide background"/>

          <!-- Left Text -->
          <h3 class="ls-l title-lg c-white text-shadow text-uppercase text-center strong" style="width:100%; top:25%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
						{{ site.title }}
          </h3>
         <h3 class="ls-l title c-white text-wrapped black text-uppercase text-center strong" style="top:50%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
              Vision.Believe.Success
          </h3>

          <h3 class="ls-l title-xs c-white text-shadow text-uppercase text-center strong" style="width:100%; top:72%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
              Start the tour
          </h3>
      </div>

      <!-- Slide 2 -->
      <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
          <!-- slide background -->
          <img src="{{ site.path.images | prepend: site.baseurl}}/wires.jpg" class="ls-bg" style="width: 100%;" alt="Slide background"/>

          <!-- Left Text -->
          <h3 class="ls-l title text-normal" style="width:600px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
              The secret of getting ahead is <span class="strong-600">getting</span> <span class="strong-600 c-base">started</span></strong>
          </h3>

          <p class="ls-l text-standard" style="width:500px; top:50%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
          {{ site.title }} is ready to be part of your project. Let's get started
          </p>

          <a href="" class="btn btn-base btn-lg ls-l" style="top:60%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">
              Learn more
          </a>
      </div>
      <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
          <!-- slide background -->
          <img src="{{ site.path.images | prepend: site.baseurl}}/lightbulb.jpg" class="ls-bg" style="width: 100%;" alt="Slide background"/>

          <!-- Left Text -->
          <h3 class="ls-l title text-normal" style="width:600px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
              The secret of getting ahead is <span class="strong-600">getting</span> <span class="strong-600 c-base">started</span></strong>
          </h3>

          <p class="ls-l text-standard" style="width:500px; top:50%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
          {{ site.title }} is ready to be part of your project. Let's get started
          </p>

          <a href="" class="btn btn-base btn-lg ls-l" style="top:60%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">
              Learn more
          </a>
      </div>

  </div>
</section>

{{ content }}

<!-- {% include services.html %} -->
<!-- services.html shows sterling services -->

{% include customerCount.html %}
<!-- customerCount.html shows how many customers and finished projects -->

<!-- {% include team.html %} -->
<!-- team includes a banner with team members -->

<!-- Main content was here -->
<!-- FOOTER was here-->

{% include js/layerslider.html %}

</div>
