---
layout: subpage
---

<section class="slice bg-white bb">
      <div class="wp-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div id="workCarousel" class="carousel carousel-4 slide color-two-l" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
                          </ol>

                          <div class="carousel-inner">
                              <div class="item item-dark active">
                                {% for image in page.project limit: 2 %}
                                  <img src="/{{ site.path.images  }}/large/{{ page.image }}" alt="" class="img-responsive">
                                {% endfor %}
                              </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#workCarousel" data-slide="prev">
                              <i class="fa fa-angle-left"></i>
                          </a>
                          <a class="right carousel-control" href="#workCarousel" data-slide="next">
                              <i class="fa fa-angle-right"></i>
                          </a>

                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="vertical-info">
                        {% if page.category %}
                          <h4>Category</h4>
                          <p class="delimiter">
                          {{ page.category }}
                          </p>
                        {% endif %}

                          <h4>Client</h4>
                          <p class="delimiter">
                          <strong>{{ page.title }}</strong>
                          </p>

                      </div>

                      <div class="section-title-wr mt-40">
                          <h3 class="section-title left">
                              <span>Project description</span>
                          </h3?
                      </div>
                      <div>
                        <h4>
                            <span>{{content}}</span>
                        </h4>
                    </div>
                   
                  </div>
              </div>
          </div>
      </div>
  </section>
