---
layout: subpage
---
<section class="slice bg-white">
  <div class="wp-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <ul class="list-listings-2">
                      <li class="">
                          <div class="listing-image">
                              <img src="images/clients/client-1.png" class="img-responsive" alt="">
                              <a href="#" class="btn btn-lg btn-square btn-alt btn-block-bm btn-icon btn-icon-go" hidefocus="true">Apply now</a>
                          </div>
                          <div class="cell">
                              <div class="listing-body clearfix">
                                  <h3><a href="#" hidefocus="true" style="outline: none;">{{ page.title }}</a></h3>
                                  <h4>{{ site.title }}</h4>
                                  <p>
                                    {{ page.description }}
                                  </p>
                              </div>
                              <div class="listing-footer">
                                  <ul class="aux-info">
                                      <li><i class="fa fa-calendar"></i><strong>Date:</strong> {{ page.date | date: "%-d %b %Y" }}</li>
                                      <li><i class="fa fa-user"></i><strong>Jobs:</strong> 33 Jobs</li>
                                      <li><i class="fa fa-globe"></i><strong>City:</strong> London</li>
                                  </ul>
                              </div>
                          </div>
                      </li>
                  </ul>

                  <div class="section-title-wr">
                      <h3 class="section-title left"><span>Overview</span></h3>
                  </div>
                  <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                  </p>

                  <hr>

                  <div class="section-title-wr">
                      <h3 class="section-title left"><span>Responsabilities</span></h3>
                  </div>
                  <ul class="list-check">
                      <li><i class="fa fa-check"></i> Actively participate in concept development and design ideation as part of a small team.</li>
                      <li><i class="fa fa-check"></i> Rapidly build and iterate prototypes that push the bounds of today’s computing to prove concepts and test ideas.</li>
                      <li><i class="fa fa-check"></i> Develop polished, high-fidelity functional prototypes to prove and sell concepts to development teams and senior leadership.</li>
                      <li><i class="fa fa-check"></i> Partner with engineering to ensure that interactive techniques and technologies translate through to shipping products and services.</li>
                  </ul>

                  <hr>

                  <div class="section-title-wr">
                      <h3 class="section-title left"><span>What do you need</span></h3>
                  </div>
                  <ul class="list-check">
                      <li><i class="fa fa-check"></i> Actively participate in concept development and design ideation as part of a small team.</li>
                      <li><i class="fa fa-check"></i> Rapidly build and iterate prototypes that push the bounds of today’s computing to prove concepts and test ideas.</li>
                      <li><i class="fa fa-check"></i> Develop polished, high-fidelity functional prototypes to prove and sell concepts to development teams and senior leadership.</li>
                      <li><i class="fa fa-check"></i> Partner with engineering to ensure that interactive techniques and technologies translate through to shipping products and services.</li>
                      <li><i class="fa fa-check"></i> Actively participate in concept development and design ideation as part of a small team.</li>
                      <li><i class="fa fa-check"></i> Rapidly build and iterate prototypes that push the bounds of today’s computing to prove concepts and test ideas.</li>
                      <li><i class="fa fa-check"></i> Develop polished, high-fidelity functional prototypes to prove and sell concepts to development teams and senior leadership.</li>
                      <li><i class="fa fa-check"></i> Partner with engineering to ensure that interactive techniques and technologies translate through to shipping products and services.</li>
                  </ul>

                  <hr>

                  <div class="section-title-wr">
                      <h3 class="section-title left"><span>What do we offer</span></h3>
                  </div>
                  <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                  </p>

              </div>
              <div class="col-md-4">
                  <!-- MAP -->
                  <div class="panel panel-default panel-sidebar-1">
                      <div class="panel-heading"><h2>Location</h2></div>
                      <div id="mapCanvas" class="map-canvas-square"></div>
                  </div>

                  <!-- NEWSLETTER WIDGET -->
                  <div class="panel panel-default panel-sidebar-1">
                      <div class="panel-heading"><h2>Sign up to our newsletter</h2></div>
                      <form class="sky-form" role="form">
                          <div class="panel-body">
                              <p>
                                  Sign up if you would like to receive occasional treats from us.
                              </p>
                              <section>
                                  <div class="form-group">
                                      <label class="label sr-only">Password</label>
                                      <label class="input">
                                          <input type="email" name="email" placeholder="name@example.com">
                                      </label>
                                  </div>
                              </section>
                              <label class="checkbox"><input type="checkbox" name="remember" checked><i></i>Keep me logged in</label>
                          </div>
                          <button type="submit" class="btn btn-lg btn-block-bm btn-alt btn-icon btn-icon-right btn-envelope">
                              <span>Sign me Up!</span>
                          </button>
                      </form>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
