---
layout: subpage
---
<script>
    var count = page.count;
</script>

<section class="slice bg-white bb">
      <div class="wp-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div id="workCarousel" class="carousel carousel-4 slide color-two-l" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators hide">
                              <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
                          </ol>
                                <!--{{% if count = 1 %}}
                                    <div class="carousel-inner hide">
                                        <div class="item item-dark active hide">
                                            <img src="/{{ site.path.images  }}/large/{{ page.image }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                {{% else %}} -->
                                    <div class="carousel-inner">
                                        <div class="item item-dark active">
                                            <div>
                                                {% for num in page.images %}
                                                        <img src="/{{ site.path.images  }}/large/{{ page.images }}" alt="" class="img-responsive">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                <!--{{% endif %}} -->

                          <!-- Controls -->
                        <a class="left carousel-control" href="#workCarousel" data-slide="prev">
                              <i class="fa fa-angle-left"></i>
                          </a>
                          <a class="right carousel-control" href="#workCarousel" data-slide="next">
                              <i class="fa fa-angle-right"></i>
                          </a>

                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="vertical-info">
                        {% if page.category %}
                          <h4>Category</h4>
                          <p class="delimiter">
                          {{ page.category }}
                          </p>
                        {% endif %}

                          <h4>Client</h4>
                          <p class="delimiter">
                          <strong>{{ page.title }}</strong>
                          </p>

                      </div>

                      <div class="section-title-wr mt-40">
                          <h3 class="section-title left">
                              <span class="text-standard">Project description</span>
                          </h3>
                      </div>
                      <div>
                            <p>
                            <span style="font-size: large;">{{content}}</span>
                            </p>
                        </div>
                    </div>
                   
              </div>
          </div>
      </div>
  </section>
