---
layout: subpage
---

<section class="slice bg-base">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Frequently asked questions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>How do we work</span></h3>
                    </div>

                    <div class="panel-group" id="accordionThree">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">
                                    {{ page.questions.q1 }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3a" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  {{ page.answers.a1 }}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">
                                    {{ page.questions.q2 }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3b" class="panel-collapse collapse">
                                <div class="panel-body">
                                  {{ page.answers.a2 }}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3c">
                                    {{ page.questions.q3 }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3c" class="panel-collapse collapse">
                                <div class="panel-body">
                                  {{ page.answers.a3 }}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseFour">
                                    {{ page.questions.q4 }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                  {{ page.answers.a4 }}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseFive">
                                    {{ page.questions.q5 }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                  {{ page.answers.a5 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- TESTIMONIAL WIDGET -->
                    <div class="panel panel-default panel-sidebar-1">
                        <div class="panel-heading"><h2>Video testimonial</h2></div>
                        <div class="owl-carousel owl-carousel-single">
                            <div>
                                <div class="wp-block testimonial style-1 base">
                                    <div class="wp-block-video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/80747086?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
                                        </div>
                                    </div>
                                    <div class="wp-block-body">
                                        <p>
                                            <i class="fa fa-quote-left"></i> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
                                        </p>
                                    </div>
                                    <div class="testimonial-author light">
                                        <div class="author-img">
                                            <img src="{{ site.path.images | prepend: site.baseurl}}/prv/person-3-75x75.png" alt="">
                                        </div>
                                        <div class="author-info">
                                            <span class="author-name">Alexander Smith</span>
                                            <small class="author-pos">CEO Company Inc</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="wp-block testimonial style-1 base">
                                    <div class="wp-block-video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/24837359?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
                                        </div>
                                    </div>
                                    <div class="wp-block-body">
                                        <p>
                                            <i class="fa fa-quote-left"></i> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
                                        </p>
                                    </div>
                                    <div class="testimonial-author light">
                                        <div class="author-img">
                                            <img src="{{ site.path.images | prepend: site.baseurl}}/prv/person-2-75x75.png" alt="">
                                        </div>
                                        <div class="author-info">
                                            <span class="author-name">Michael Angelo</span>
                                            <small class="author-pos">CEO Company Inc</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
