---
layout: subpage
---
<section class="slice bg-white">
  <div class="wp-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <ul class="list-listings-2">
                      <li class="">
                          <div class="listing-image">
                              <img src="{{ site.path.images | prepend: site.baseurl }}/secImages/career-posting.jpg" class="img-responsive" alt="">
                              <a href="{{ page.application-link }}" class="btn btn-lg btn-square btn-alt btn-block-bm btn-icon btn-icon-go" hidefocus="true">Apply now</a>
                          </div>
                          <div class="cell">
                              <div class="listing-body clearfix">
                                  <h3><a href="#" hidefocus="true" style="outline: none;">{{ page.title }}</a></h3>
                                  <h4>{{ site.title }}</h4>
                                  <p>
                                    {{ page.excerpt }}
                                  </p>
                              </div>
                              <div class="listing-footer">
                                  <ul class="aux-info">
                                      <li><i class="fa fa-calendar"></i><strong>Date:</strong> {{ page.date | date: "%-d %b %Y" }}</li>
                                      <li><i class="fa fa-globe"></i><strong>City:</strong> {{ site.city }}</li>
                                  </ul>
                              </div>
                          </div>
                      </li>
                  </ul>

                  {{ content }}
              </div>
              <div class="col-md-4">
                  <!-- MAP -->
                  <div class="panel panel-default panel-sidebar-1">
                      <div class="panel-heading"><h2>Location</h2></div>
                      <div id="mapCanvas" class="map-canvas-square"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Sripts for individual pages, depending on what plug-ins are used -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLNrZPGiqQZleBS6idNPU1bvWPtCd_g2c&v=3.exp&amp;sensor=false"></script>
    <script src="{{ site.path.js | prepend: site.baseurl }}/gmaps/google-maps-default.js"></script>
