---
layout: subpage
---

<section class="slice bg-base">
  <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Some of our projects...</h2>
                        <h3> **Page under construction**</h3>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PORTFOLIO -->
<section class="slice bg-white animate-hover-slide">
      <div class="wp-section work">
          <div class="container">


              <div class="row">
                  <div id="ulSorList">

                      {% for project in site.projects %}
                      <div class="mix col-lg-4 col-md-4 col-sm-6">
                          <div class="wp-block inverse">
                              <div class="figure">
                                    <img alt="" src="/{{ site.path.images  }}/resized/{{ project.images[0] }}" class="img-responsive" />
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="/{{ site.path.images  }}/resized/{{ project.images[0] }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                        <a href="/{{ project.url | remove_first: '/' }}" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                    </div>
                              </div>

                              <div class="row">
                                  <div class="col-xs-9">
                                      <h2>{{ project.title }}</h2>
                                      <small>{{ project.location }}</small>
                                  </div>
                                  <div class="col-xs-3">

                                  </div>
                              </div>
                          </div>
                      </div>

                      {% endfor %}
                      <div class="gap"></div>
                  </div>
              </div>
        </div>
      </div>
  </section>
