---
layout: subpage
---

<section class="slice bg-base">
  <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Here is some of our work</h2>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PORTFOLIO -->
<section class="slice bg-white animate-hover-slide">
    <div class="wp-section work">
        <div class="container">
            <div class="row">
                <div id="ulSorList">
                    <div class="mix category_1 col-lg-3 col-md-3 col-sm-6" data-cat="1">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.chickfila.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.chickfila.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.chickfila.title }}</h2>
                                    <small>{{ page.projects.chickfila.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_2 col-lg-3 col-md-3 col-sm-6" data-cat="2">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.moctezumas.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.moctezumas.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.moctezumas.title }}</h2>
                                    <small>{{ page.projects.moctezumas.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_3 col-lg-3 col-md-3 col-sm-6" data-cat="3">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.panerabread.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.panerabread.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.panerabread.title }}</h2>
                                    <small>{{ page.projects.panerabread.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_4 col-lg-3 col-md-3 col-sm-6" data-cat="4">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.lynnwoodcrossroads.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.lynnwoodcrossroads.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.lynnwoodcrossroads.title }}</h2>
                                    <small>{{ page.projects.lynnwoodcrossroads.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_5 col-lg-3 col-md-3 col-sm-6" data-cat="5">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.charmingcharlie.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.charmingcharlie.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.charmingcharlie.title }}</h2>
                                    <small>{{ page.projects.charmingcharlie.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_6 col-lg-3 col-md-3 col-sm-6" data-cat="6">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.fiveguys.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.fiveguys.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.fiveguys.title }}</h2>
                                    <small>{{ page.projects.fiveguys.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_7 col-lg-3 col-md-3 col-sm-6" data-cat="7">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.pandaexpress.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.pandaexpress.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.pandaexpress.title }}</h2>
                                    <small>{{ page.projects.pandaexpress.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_8 col-lg-3 col-md-3 col-sm-6" data-cat="8">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.greatclips.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.greatclips.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.greatclips.title }}</h2>
                                    <small>{{ page.projects.greatclips.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix category_9 col-lg-3 col-md-3 col-sm-6" data-cat="9">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.dickssporting.image }}" class="img-responsive">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ site.path.images | prepend: site.baseurl }}{{ page.projects.dickssporting.image }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-plus-circle"></i> Zoom</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-link"></i> View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ page.projects.dickssporting.title }}</h2>
                                    <small>{{ page.projects.dickssporting.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gap">
                    </div>
                </div>
            </div>
      </div>
    </div>
</section>
